.product-purchase {
  border-radius: 8px;
  font-size: 14px;
  padding: 24px 16px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.purchase-installments {
  background-color: #00a650;
  color: white;
  padding-inline: 30px;
  padding-block: 10px;
  margin: 2px;
  margin-top: 20px;
  border-radius: 2px;
  flex-direction: row;
  display: flex;
}

.purchase-icon {
  margin-right: 20px;
  font-size: 20px;
}

.product-purchase .title {
  font-size: 20px;
}

.delivery {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 2px;
}

.grey-text {
  font-size: 14px;
  color: var(--grey);
}
.company-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3483fa !important;
  font-weight: "bold";
  font-size: 16px;
}

.purchase-options {
  margin-top: 25px;
}
.product-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.product-title h1 {
  font-size: 22px;
  margin: 0 28px 0 0;
  line-height: 1.2;
}

.fav-icon {
  color: #3483fa;
  font-size: 20px;
  cursor: pointer;
  justify-content: end;
  justify-self: end;
  align-self: flex-end;
  user-select: none;
}

.product-price {
  margin-bottom: 25px;
}

.product-price h2 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
}

.payment-twelve-months {
  display: flex;
  margin-bottom: 15px;
}

.product-price p {
  font-size: 18px;
  line-height: 0.8;
}

.row {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.product-price sup {
  font-size: 10px;
  line-height: 1;
  margin-left: 1px;
}

.blue-anchor,
p.blue-anchor,
span.blue-anchor {
  color: #3483fa;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

p.blue-anchor:hover,
span.blue-anchor:hover {
  color: #2968c8;
}

.green-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
  color: #00a650;
}

.green-icon {
  font-size: 23px;
}

.thirty-days-text {
  font-size: 14px;
  color: var(--grey);
  margin: 2px 0;
}

.brief-description {
  margin-top: 25px;
  font-size: 14px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-indent: -20px;
  margin-bottom: 5px;
}

.stock-available {
  font-size: 16px;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
}

.stock {
  gap: 6px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.available-quantity {
  font-size: 14px;
  color: var(--grey);
}

.stock-down-arrow {
  color: #3483fa;
  font-size: 20px;
}

.purchase-benefits {
  margin-top: 24px;
}

.purchase-benefits p {
  color: var(--grey);
}

.compra-protegida {
  margin-bottom: 15px;
  line-height: 1.3;
}

.compra-protegida,
.mercado-puntos {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
}

.product-details-btn {
  font-size: 16px;
  height: 48px;
}

.benefits-icon {
  font-size: 16px;
  color: var(--grey);
  flex-shrink: 0;
}

.reviews-avg {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 10px;
  margin: 5px 0;
}

.color-thumbnails {
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
}

.color-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: border 0.2s;
}

.selected-color-image {
  border: 2px solid #2968c8; /* Meli blue */
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 6px;
}

.color-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.color-name {
  font-size: 12px;
  margin-top: 4px;
  color: #333;
}

.avg-rating {
  font-size: 20px;
  color: var(--grey);
}

.review-star-filled,
.review-star-empty {
  font-size: 20px;
}

.review-star-filled {
  color: #3483fa;
}

.review-star-empty {
  color: rgba(0, 0, 0, 0.1);
}
.company-banner {
  flex-direction: row;
  display: flex;
  margin-top: 30px;
}

.company-banner.p {
  flex-direction: column;
  display: flex;
}
